<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shadowkylin.ham.dao.AssetTypeDao">
    <select id="getAssetTypeList" resultType="AssetType">
        SELECT * FROM asset_type
    </select>
    <select id="getAssetTypeDetail" resultType="AssetType">
        SELECT * FROM asset_type
        WHERE id = #{id}
    </select>
    <insert id="addAssetType">
        INSERT INTO asset_type (name)
        VALUES (#{name})
    </insert>
    <update id="updateAssetType">
        UPDATE asset_type
        SET name = #{name}
        WHERE id = #{id}
    </update>
    <delete id="deleteAssetType">
        DELETE FROM asset_type
        WHERE id = #{id}
    </delete>
    <select id="getAssetTypeId" resultType="int">
        SELECT id FROM asset_type
        WHERE name = #{name}
    </select>
</mapper>