<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shadowkylin.ham.dao.AuthDao">
    <!--resultType和resultMap在使用上最大的区别就是resultType使用时实体类的属性名要和数据库表的列名一一对应，
    resultMap是mybatis框架为了解决实体类属性和数据库表列名不能对应上而创建的一种解决方案-->
    <!--<resultMap id="AuthModel" type="cn.shadowkylin.ham.model.">-->
    <!--    <id column="id" property="id"/>-->
    <!--    <result column="name" property="name"/>-->
    <!--    <result column="description" property="description"/>-->
    <!--    <result column="create_time" property="createTime"/>-->
    <!--    <result column="update_time" property="updateTime"/>-->
    <!--</resultMap>-->
    <select id="login" resultType="User">
        SELECT *
        FROM user
        WHERE phone = #{phone}
          AND password = #{password}
    </select>
    <select id="isExist" resultType="boolean">
        SELECT COUNT(*)
        FROM user
        WHERE phone = #{phone}
    </select>
    <insert id="register">
        INSERT INTO user (username, password, phone, created_date)
        VALUES (#{username}, #{password}, #{phone}, #{createdDate})
    </insert>
    <update id="updatePassword">
        UPDATE user
        SET password = #{newPwd}
        WHERE id = #{userId}
    </update>
    <select id="getPassword" resultType="String">
        SELECT password
        FROM user
        WHERE id = #{userId}
    </select>
</mapper>