<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shadowkylin.ham.dao.FinanceDao">
    <select id="getFinanceList" resultType="Finance">
        SELECT *
        FROM finance
        where
        <if test="homeSerialNumber==null||homeSerialNumber.equals('null')">
            user_id = #{userId}
        </if>
        <if test="homeSerialNumber!=null&amp;&amp;!homeSerialNumber.equals('null')">
            home_serial_number = #{homeSerialNumber}
        </if>
        <if test="searchType == 'name'">
            AND name LIKE CONCAT('%',#{searchValue},'%')
        </if>
        <if test="searchType == 'assetSerialNumber'">
            AND asset_serial_number LIKE CONCAT('%',#{searchValue},'%')
        </if>
        <if test="searchType == 'date'">
            AND created_date = #{searchValue}
        </if>
        <if test="searchType == 'amount'">
            AND amount = #{searchValue}
        </if>
        <if test="searchType == 'notes'">
            AND notes LIKE CONCAT('%',#{searchValue},'%')
        </if>
        <if test="type=='income'">
            AND type = 1
        </if>
        <if test="type=='expenditure'">
            AND type = 0
        </if>
    </select>
    <select id="getFinanceDetail" resultType="Finance">
        SELECT *
        FROM finance
        WHERE id = #{financeId}
    </select>
    <insert id="addFinance">
        INSERT INTO finance (user_id, name, asset_serial_number, created_date, type, amount, notes)
        VALUES (#{userId}, #{name}, #{assetSerialNumber}, #{createdDate}, #{type}, #{amount}, #{notes})
    </insert>
    <insert id="addFinanceList">
        INSERT INTO finance (user_id, name, asset_serial_number, created_date, type, amount, notes)
        VALUES
        <foreach collection="financeList" item="finance" separator=",">
            (#{finance.userId}, #{finance.name}, #{finance.assetSerialNumber}, #{finance.createdDate}, #{finance.type},
            #{finance.amount}, #{finance.notes})
        </foreach>
    </insert>
    <update id="updateFinance">
        UPDATE finance
        SET user_id             = #{userId},
            name                = #{name},
            asset_serial_number = #{assetSerialNumber},
            type                = #{type},
            amount              = #{amount},
            notes               = #{notes}
        WHERE id = #{id}
    </update>
    <delete id="deleteFinance">
        DELETE
        FROM finance
        WHERE id = #{id}
    </delete>
    <delete id="deleteFinanceList">
        DELETE
        FROM finance
        WHERE id IN
        <foreach collection="financeIdList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--获取指定年份的收入记录-->
    <select id="getIncomeByYear" resultType="Finance">
        SELECT *
        FROM finance
        WHERE
        <if test="homeSerialNumber==null||homeSerialNumber.equals('null')">
            user_id = #{userId}
        </if>
        <if test="homeSerialNumber!=null&amp;&amp;!homeSerialNumber.equals('null')">
            home_serial_number = #{homeSerialNumber}
        </if>
        AND type = 1
        AND created_date LIKE CONCAT(#{year},'%')
    </select>
    <!--获取指定年份的支出记录-->
    <select id="getExpenditureByYear" resultType="Finance">
        SELECT *
        FROM finance
        WHERE
        <if test="homeSerialNumber==null||homeSerialNumber.equals('null')">
            user_id = #{userId}
        </if>
        <if test="homeSerialNumber!=null&amp;&amp;!homeSerialNumber.equals('null')">
            home_serial_number = #{homeSerialNumber}
        </if>
        AND type = 0
        AND created_date LIKE CONCAT(#{year},'%')
    </select>
    <update id="updateFinancesHSN">
        UPDATE finance
        SET home_serial_number = #{homeSerialNumber}
        WHERE user_id = #{requestId}
    </update>
</mapper>