<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shadowkylin.ham.dao.HomeRequestDao">
    <update id="agreeJoinHome">
        UPDATE home_request
        SET status = 1
        WHERE home_serial_number = #{homeSerialNumber}
        AND application_id = #{joinId}
        AND status = 0
    </update>
    <update id="refuseJoinHome">
        UPDATE home_request
        SET status = 2
        WHERE home_serial_number = #{homeSerialNumber}
        AND application_id = #{joinId}
    </update>
    <select id="getHomeRequestList" resultType="HomeRequest">
        SELECT *
        FROM home_request
        WHERE application_id = #{userId}
    </select>
    <select id="isRequestExist" resultType="HomeRequest">
        SELECT *
        FROM home_request
        WHERE home_serial_number = #{homeSerialNumber}
        AND application_id = #{userId}
    </select>
    <insert id="joinHome">
        INSERT INTO home_request (home_serial_number, application_id, recipient_id, status,created_date)
        VALUES (#{homeSerialNumber}, #{userId}, #{creatorId}, 0, #{createdDate})
    </insert>
    <select id="getUnhandledRequestList" resultType="HomeRequest">
        SELECT *
        FROM home_request
        WHERE recipient_id = #{userId}
        AND status = 0
    </select>
    <select id="getHandledRequestList" resultType="HomeRequest">
        SELECT *
        FROM home_request
        WHERE recipient_id = #{userId}
        AND status != 0
    </select>
    <update id="setRequestStatus">
        UPDATE home_request
        SET status = #{status}
        WHERE home_serial_number = #{homeSerialNumber}
        AND application_id = #{applicationId}
    </update>
    <select id="getActiveRequest" resultType="HomeRequest">
        SELECT *
        FROM home_request
        WHERE application_id = #{userId}
        AND home_serial_number = #{homeSerialNumber}
        AND status = 0
    </select>
    <select id="getInactiveRequest" resultType="HomeRequest">
        SELECT *
        FROM home_request
        WHERE application_id = #{userId}
        AND home_serial_number = #{homeSerialNumber}
        AND status != 0
    </select>
</mapper>
