<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shadowkylin.ham.dao.NoticeDao">
    <select id="getNotices" resultType="Notice">
        SELECT *
        FROM notice
    </select>
    <insert id="addNotice" parameterType="Notice">
        INSERT INTO notice (content, created_date)
        VALUES ( #{content}, #{createdDate})
    </insert>
    <update id="updateNotice" parameterType="Notice">
        UPDATE notice
        SET content = #{content}, created_date = #{createdDate}
        WHERE id = #{id}
    </update>
    <delete id="deleteNotice" parameterType="int">
        DELETE FROM notice
        WHERE id = #{noticeId}
    </delete>
</mapper>